.breadCrumbs {
  --mantine-color-anchor: var(--breadcrumb-text-color);
  
  font: var(--text-base-s-regular-font);
  color: var(--breadcrumb-text-color);

  .link {
    font: var(--text-base-s-regular-font);
    color: var(--breadcrumb-text-color);

    &:hover {
      color: #bd93f7;
      text-decoration: none;
    }
  }

  .title {
    cursor: default;
  }
}
