.breadCrumbs {
  --mantine-color-anchor: var(--breadcrumb-text-color);

  font: var(--text-base-s-regular-font);
  color: var(--breadcrumb-text-color);
  white-space: normal;

  .link {
    white-space: normal;
    font: var(--text-base-s-regular-font);
    color: var(--breadcrumb-text-color);

    &:hover {
      color: #bd93f7;
      text-decoration: none;
    }
  }

  .title {
    white-space: normal;
    cursor: default;
  }
}
