/* stylelint-disable media-feature-range-notation */
.movieCardDescriptionList {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.75rem 0.5rem;
  line-height: 1.25rem;
  align-items: flex-start;

  .itemName {
    font-size: 1rem;
    color: var(--secondary-base-text-color);
  }

  .itemValue {
    font-size: 1rem;
    color: var(--accent-base-text-color);
  }
}

.lg {
  grid-template-columns: 140px 1fr;
  align-items: center;
}

.md{
  &.skeleton{
    .itemName{
      width: 60px;
    }
  }

  .itemValue{
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@media (max-width: 1000px) {
  .md {
    .itemValue{
      white-space: wrap;
      text-overflow: unset;
    }
  }
}


@media (max-width: 768px) {
  .lg {
    grid-template-columns: 0.4fr 1fr;
    column-gap: 1.5rem;
  }
}