.movieCardDescriptionList {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.75rem 0.5rem;
  line-height: 1.25rem;
  align-items: flex-start;

  .itemName {
    font-size: 1rem;
    color: var(--secondary-base-text-color);
  }

  .itemValue {
    font-size: 1rem;
    color: var(--accent-base-text-color);
  }
}

.lg {
  grid-template-columns: 140px 1fr;
  align-items: center;
}
