/* stylelint-disable media-feature-range-notation */
/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.headerSidebarLayout {
  display: grid;
  grid-template-areas: "header header" "sidebar pageContent";
  grid-template-columns: max-content 1fr;
  grid-template-rows: repeat(2, max-content);
}

.layoutSidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: 100vh;
}

.layoutHeader {
  grid-area: header;
}

.layoutPage {
  grid-area: pageContent;
  overflow-y: auto;
  padding: 40px;
}

.pageContainer {
  margin: 0 auto;
  height: 100%;
  padding: 0;
}

@media (max-width: 768px) {
  .layoutPage {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .pageContainer {
    padding: 0;
  }
}
