/* stylelint-disable media-feature-range-notation */
.movieFilters {
  .filters {
    --group-justify: flex-end !important;
    --group-align: flex-start !important;
    --group-wrap: nowrap;

    .genreDropdown,
    .releaseYearDropdown {
      max-width: 284px;
      flex-grow: 1;
    }

    .ratingInputs {
      --group-wrap: nowrap;

      & :global(.mantine-Group-root) {
        --group-align: flex-start !important;
      }

      max-width: max-content;

      .ratingInput {
        max-width: 138px;
        flex-grow: 1;
      }
    }

    &:has(:global(.mantine-InputWrapper-error)) {
      .resetButton {
        align-self: flex-start;
        position: relative;
        top: 30.5px;
      }
    }

    /* stylelint-disable-next-line no-descending-specificity */
    .resetButton {
      align-self: flex-end;
    }
  }

  .sortByDropdown {
    max-width: 284px;
    align-self: flex-end;
    flex-grow: 1;
    width: 100%;
  }
}

@media (max-width: 990px) {
  .movieFilters {
    .filters {
      &:has(:global(.mantine-InputWrapper-error)) {
        .resetButton {
          top: 0;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .movieFilters {
    .filters {
      --group-justify: flex-start !important;

      &:has(:global(.mantine-InputWrapper-error)) {
        .resetButton {
          top: 30.5px;
        }
      }

      .genreDropdown,
      .releaseYearDropdown {
        max-width: 100%;
        flex-basis: 35%;
        min-width: 200px;
      }

      .ratingInputs {
        & :global(.mantine-Group-root) {
          --group-wrap: nowrap !important;
        }

        .ratingInput {
          max-width: 200px;
          flex-grow: 1;
        }
      }
    }

    .sortByDropdown {
      max-width: 350px;
      align-self: flex-end;
      flex-basis: 50%;
      flex-grow: 1;
    }
  }
}

@media(max-width:545px){
  .movieFilters {
    .filters {
      &:has(:global(.mantine-InputWrapper-error)) {
        .resetButton {
          position: static;
          align-self: flex-start;
        }
      }
    }
  }
}

@media (max-width: 455px) {
  .movieFilters {
    .sortByDropdown {
      max-width: initial;
      flex-basis: 100%;
      flex-grow: 1;
    }
  }
}
