/* stylelint-disable declaration-block-no-redundant-longhand-properties */
.app {
  color: var(--accent-base-text-color);
  min-height: 100vh;
  background-color: var(--app-bg-color);
}

.appContainer {
  display: grid;
  grid-template-areas: "sidebar pageContent";
  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content;
}

.appSidebar {
  grid-area: sidebar;
  position: sticky;
  top: 0;
  height: 100vh;
}

.appPage {
  grid-area: pageContent;
  overflow-y: auto;
  padding: 40px 40px 82px;
}

.pageContainer {
  margin: 0 auto;
  max-width: 980px;
  height: 100%;
}
