/* stylelint-disable media-feature-range-notation */
.movieCard {
  font-size: 1rem;
  color: var(--secondary-base-text-color);

  .container {
    --group-align: space-between !important;

    .body {
      flex-grow: 1;
    }
  }

  .header {
    --group-align: space-between !important;
    --group-justify: space-between !important;

    .title {
      font: var(--title-s-semibold-font);
      color: var(--accent-title-color);
    }

    .releaseYear {
      line-height: 20px;
    }

    .averagePeopleRating {
      .averageRating {
        color: var(--accent-base-text-color);
        font-weight: 600;
        line-height: 20px;
      }
    }
  }

  .poster {
    svg {
      height: 100%;
    }
  }
}

.lg {
  .poster {
    height: 352px;
  }
}

.md {
  .poster {
    height: 170px;
  }
}

@media (max-width: 1200px) {
  .lg {
    .poster {
      height: 300px;
    }
  }
}

@media (max-width: 950px) {
  .lg {
    .container {
      --group-justify: center !important;
    }

    .header {
      --group-align: space-between !important;
      --group-justify: space-between !important;
    }
  }
}
