/* stylelint-disable media-feature-range-notation */
.movieCard {
  font-size: 1rem;
  color: var(--secondary-base-text-color);

  .container {
    --group-align: space-between !important;
    --group-wrap: nowrap !important;
    
    svg, img, :global(.mantine-Skeleton-root) {
      flex-shrink: 0;
    }

    .body {
      flex-grow: 1;
    }
  }

  .header {
    --group-align: space-between !important;
    --group-justify: space-between !important;
    --group-wrap: nowrap !important;

    .title {
      font: var(--title-s-semibold-font);
      color: var(--accent-title-color);
    }

    .releaseYear {
      line-height: 20px;
    }

    .averagePeopleRating {
      .averageRating {
        color: var(--accent-base-text-color);
        font-weight: 600;
        line-height: 20px;
      }
    }
  }
}

.skeleton{
  .header {
    .stack{
      flex-grow: 1;
    }
  }
}

@media (max-width: 1000px) {
  .md {
    height: 100%;

    .container {
      --group-align: center !important;

      height: 100%;
      flex-direction: column;

      .body {
        width: 100%;
        gap: 1.5rem;
      }
    }
  }
}

@media (max-width: 950px) {
  .lg {
    .container {
      --group-justify: center !important;
    }

    .header {
      --group-align: space-between !important;
      --group-justify: space-between !important;
    }
  }
}

@media (max-width: 768px) {
  .md {
    .container {
      --group-align: space-between !important;

      flex-direction: row;
    }
  }
}

@media (max-width: 600px) {
  .lg {
    height: 100%;

    .container {
      --group-align: center !important;

      height: 100%;
      flex-direction: column;

      .body {
        row-gap: 2.5rem;
        width: 100%;
      }
    }
  }
}

@media (max-width: 500px) {
  .md {
    .container {
      --group-align: center !important;

      flex-direction: column;
    }
  }
}
